html{
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}
#grids{
  display: grid;
  margin: 0;
  padding: 0;
  border: 0;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(24,1fr);
}

#H-Title{
  grid-column: 1/13 ;
  grid-row: 1/5;
  background-color: red;
}
/*Heading Tile id most Starting with H means its in heading */
#H-Search{
  grid-column: 1/13 ;
  grid-row: 5/9;
  background-color: green;
}
#H-S-Input{
  
}
#H-S-Button{

}
#B-Course{
  grid-column: 1/13 ;
  grid-row: 9/22;
  background-color: blue;
  display: grid;
  margin: 0;
  padding: 0;
  border: 0;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(9,1fr);
}
#B-C-Top{
  grid-column: 1/13 ;
  grid-row: 1/3;
  background-color: lightblue;
}
#B-C-Left{
  grid-column: 1/5 ;
  grid-row: 3/10;
  display: grid;
  margin: 0;
  padding: 0;
  border: 0;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(9,1fr);
}
#B-C-L-Top{
  grid-column: 1/13 ;
  grid-row: 1/4;
  background-color: darkcyan;
}
#B-C-L-Mid{
  grid-column: 1/13;
  grid-row: 4/7;
  background-color: aqua;
}
#B-C-L-Bot{
  grid-column: 1/13 ;
  grid-row: 7/10;
  background-color: aquamarine;
}
#B-C-Mid{
  grid-column: 5/9 ;
  grid-row: 3/10;
  background-color: lightcyan;
}
#B-C-Right{
  grid-column: 9/13 ;
  grid-row: 3/10;
  background-color: darkblue;
}

#F-Info{
  grid-column: 1/13 ;
  grid-row: 22/25;
  background-color: white;
}
.csgrid{
  height: 100%;
  width: 100%;
}

