html{
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
}
#grids{
  display: grid;
  margin: 0;
  padding: 0;
  border: 0;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(24,1fr);
}

#H-Title{
  grid-column: 1/13 ;
  grid-row: 1/5;
  background-color: red;
}
#H-Search{
  grid-column: 1/13 ;
  grid-row: 5/9;
  background-color: green;
}
#B-Course{
  grid-column: 1/13 ;
  grid-row: 9/22;
  background-color: blue;
  display: grid;
  margin: 0;
  padding: 0;
  border: 0;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(9,1fr);
}
#F-Info{
  grid-column: 1/13 ;
  grid-row: 22/25;
  background-color: white;
}
.csgrid{
  height: 100%;
  width: 100%;
}
/*Heading Tile id most Starting with H means its in heading */
#H-Title{
  
}
#H-Search{
  
}
#H-S-Input{
  
}
#H-S-Button{

}

